<body>
  <div class="hero-container">
      <div class="overlay">
        <h6 class="text text-right green">الأسيوطي لشراء العفش المستعمل</h6>
        <h1 class="text text-left white">آخر أعمالنا</h1>
      </div>
  </div>


  <div class="second-container">
        <div class="text-content">
        <div class="line-one">
            <a href="https://wa.me/201234567890" target="_blank" class="whatsapp-link">
                <i class="fa-brands fa-whatsapp" style="font-weight: 900;"></i><i class="fa-solid fa-phone me-5"></i> اتصل علي رقم 0541634603
            </a>
        </div>
        <div class="line-two" style="font-weight: 900;">
          وبدل أثاثك القديم
        </div>
      </div>
  </div>


  <div class="forth-container m-5 mx-auto">
        <div class="title text-center">
            <h4 class="text-dark-blue">كيف يتم شراء العفش المستعمل</h4>
            <h4 class="text-dark-blue">في الرياض؟</h4>
        </div>

        <div class="small-cards-container d-flex justify-content-center align-items-center gap-3 flex-wrap">
        
            <div class="small-card text-center p-4 m-4 card-zoom-in">
              <img src="assets/images/n4try.png" width="100" height="100" class="mb-2 d-block mx-auto m-4" alt="">
              <h4 class="text-dark-blue m-3">نشتري</h4>
              <p class="text-muted" style="font-size: 13px; font-weight: 500;">إن كنت تريد أن تستخدم نص لوريم إيبسوم ما، عليك أن تتحقق أولاً</p>
            </div>

        
            <i class="fa-solid fa-circle-left fa-3x" style="color: #1a3440;"></i>


            <div class="small-card text-center p-4 m-4 card-zoom-in">
              <img src="assets/images/nqym.png" width="100" height="100" class="mb-2 d-block mx-auto m-4" alt="">
              <h4 class="text-dark-blue m-3">نقيم</h4>
              <p class="text-muted" style="font-size: 13px; font-weight: 500;">إن كنت تريد أن تستخدم نص لوريم إيبسوم ما، عليك أن تتحقق أولاً</p>
            </div>


            <i class="fa-solid fa-circle-left fa-3x" style="color: #1a3440;"></i>


            <div class="small-card text-center p-4 m-4 card-zoom-in">
              <img src="assets/images/n3ayn.png" width="100" height="100" class="mb-2 d-block mx-auto m-4" alt="">
              <h4 class="text-dark-blue m-3">نعاين</h4>
              <p class="text-muted" style="font-size: 13px; font-weight: 500;">إن كنت تريد أن تستخدم نص لوريم إيبسوم ما، عليك أن تتحقق أولاً</p>
            </div>
        </div>
  </div>

      
  <h4 class="whatBuy w-75 m-auto mt-5 mb-3">من أعمالنا في شراء العفش المستعمل بأحسن سعر</h4>
  
  <div class="container-fluid">
    <div class="row justify-content-center">

      <div class="col-12 col-sm-6 col-md-4 mb-4">
        <div class="card h-100 card-up" style="border-radius: 20px;">
          <img src="assets/images/work1.jpg" class="card-img-top" alt="..." height="300" style="object-fit: cover; object-position: center; border-top-left-radius: 20px; border-top-right-radius: 20px;">
          <div class="card-body">
            <h5 class="card-title text-center m-4 text-muted">الأسيوطي – خبراء شراء الأثاث المستعمل في الرياض</h5>
            <p class="card-text text-center m-4 text-muted">هل لديك أثاث مستعمل وتفكر في بيعه بسهولة وبسعر جيد؟ شركة الأسيوطي توفر لك تجربة مريحة ومضمونة لبيع أثاثك المستعمل داخل الرياض. نحن نشتري كافة</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mb-4">
        <div class="card h-100 card-up" style="border-radius: 20px;">
          <img src="assets/images/work3.jpg" class="card-img-top" alt="..." height="300" style="object-fit: cover; object-position: center; border-top-left-radius: 20px; border-top-right-radius: 20px;">
          <div class="card-body">
            <h5 class="card-title text-center m-4 text-muted">الأسيوطي – خبراء شراء الأثاث المستعمل في الرياض</h5>
            <p class="card-text text-center m-4 text-muted">هل لديك أثاث مستعمل وتفكر في بيعه بسهولة وبسعر جيد؟ شركة الأسيوطي توفر لك تجربة مريحة ومضمونة لبيع أثاثك المستعمل داخل الرياض. نحن نشتري كافة</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mb-4">
        <div class="card h-100 card-up" style="border-radius: 20px;">
          <img src="assets/images/work2.jpg" class="card-img-top" alt="..." height="300" style="object-fit: cover; object-position: center; border-top-left-radius: 20px; border-top-right-radius: 20px;">
          <div class="card-body">
            <h5 class="card-title text-center m-4 text-muted">الأسيوطي – خبراء شراء الأثاث المستعمل في الرياض</h5>
            <p class="card-text text-center m-4 text-muted">هل لديك أثاث مستعمل وتفكر في بيعه بسهولة وبسعر جيد؟ شركة الأسيوطي توفر لك تجربة مريحة ومضمونة لبيع أثاثك المستعمل داخل الرياض. نحن نشتري كافة</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mb-4">
        <div class="card h-100 card-up" style="border-radius: 20px;">
          <img src="assets/images/card.jpg" class="card-img-top" alt="..." height="300" style="object-fit: cover; object-position: center; border-top-left-radius: 20px; border-top-right-radius: 20px;">
          <div class="card-body">
            <h5 class="card-title text-center m-4 text-muted">الأسيوطي – خبراء شراء الأثاث المستعمل في الرياض</h5>
            <p class="card-text text-center m-4 text-muted">هل لديك أثاث مستعمل وتفكر في بيعه بسهولة وبسعر جيد؟ شركة الأسيوطي توفر لك تجربة مريحة ومضمونة لبيع أثاثك المستعمل داخل الرياض. نحن نشتري كافة</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mb-4">
        <div class="card h-100 card-up" style="border-radius: 20px;">
          <img src="assets/images/work5.jpg" class="card-img-top" alt="..." height="300" style="object-fit: cover; object-position: center; border-top-left-radius: 20px; border-top-right-radius: 20px;">
          <div class="card-body">
            <h5 class="card-title text-center m-4 text-muted m-4 text-muted">الأسيوطي – خبراء شراء الأثاث المستعمل في الرياض</h5>
            <p class="card-text text-center m-4 text-muted">هل لديك أثاث مستعمل وتفكر في بيعه بسهولة وبسعر جيد؟ شركة الأسيوطي توفر لك تجربة مريحة ومضمونة لبيع أثاثك المستعمل داخل الرياض. نحن نشتري كافة</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mb-4">
        <div class="card h-100 card-up" style="border-radius: 20px;">
          <img src="assets/images/work6.jpg" class="card-img-top" alt="..." height="300" style="object-fit: cover; object-position: center; border-top-left-radius: 20px; border-top-right-radius: 20px;">
          <div class="card-body">
            <h5 class="card-title text-center m-4 text-muted">الأسيوطي – خبراء شراء الأثاث المستعمل في الرياض</h5>
            <p class="card-text text-center m-4 text-muted">هل لديك أثاث مستعمل وتفكر في بيعه بسهولة وبسعر جيد؟ شركة الأسيوطي توفر لك تجربة مريحة ومضمونة لبيع أثاثك المستعمل داخل الرياض. نحن نشتري كافة</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mb-4">
        <div class="card h-100 card-up" style="border-radius: 20px;">
          <img src="assets/images/work7.jpg" class="card-img-top" alt="..." height="300" style="object-fit: cover; object-position: center; border-top-left-radius: 20px; border-top-right-radius: 20px;">
          <div class="card-body">
            <h5 class="card-title text-center m-4 text-muted">الأسيوطي – خبراء شراء الأثاث المستعمل في الرياض</h5>
            <p class="card-text text-center m-4 text-muted">هل لديك أثاث مستعمل وتفكر في بيعه بسهولة وبسعر جيد؟ شركة الأسيوطي توفر لك تجربة مريحة ومضمونة لبيع أثاثك المستعمل داخل الرياض. نحن نشتري كافة</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mb-4">
        <div class="card h-100 card-up" style="border-radius: 20px;">
          <img src="assets/images/work8.jpg" class="card-img-top" alt="..." height="300" style="object-fit: cover; object-position: center; border-top-left-radius: 20px; border-top-right-radius: 20px;">
          <div class="card-body">
            <h5 class="card-title text-center m-4 text-muted">الأسيوطي – خبراء شراء الأثاث المستعمل في الرياض</h5>
            <p class="card-text text-center m-4 text-muted">هل لديك أثاث مستعمل وتفكر في بيعه بسهولة وبسعر جيد؟ شركة الأسيوطي توفر لك تجربة مريحة ومضمونة لبيع أثاثك المستعمل داخل الرياض. نحن نشتري كافة</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mb-4">
        <div class="card h-100 card-up" style="border-radius: 20px;">
          <img src="assets/images/work9.jpg" class="card-img-top" alt="..." height="300" style="object-fit: cover; object-position: center; border-top-left-radius: 20px; border-top-right-radius: 20px;">
          <div class="card-body">
            <h5 class="card-title text-center m-4 text-muted">الأسيوطي – خبراء شراء الأثاث المستعمل في الرياض</h5>
            <p class="card-text text-center text-muted m-4">هل لديك أثاث مستعمل وتفكر في بيعه بسهولة وبسعر جيد؟ شركة الأسيوطي توفر لك تجربة مريحة ومضمونة لبيع أثاثك المستعمل داخل الرياض. نحن نشتري كافة</p>
          </div>
        </div>
      </div>

    </div>
  </div>




</body>  