<footer class="footer">
  <div class="footer-container">

    <div class="footer-column logo-section">
        <img src="assets/images/logow.png" alt="الأسيوطي" class="footer-logo" />
        <p>نشتري الأثاث المستعمل في الرياض بأفضل الأسعار</p>
    </div>

    <div class="footer-column">
        <h5>تواصل معنا</h5>
        <ul>
          <li><i class="fa-solid fa-phone-flip" style="color: #00a693;"></i> 1634603 (054) </li>
          <li><i class="fa-brands fa-whatsapp" style="color: #00a693;"></i> 1634603 (054) </li>
          <li><i class="fa-solid fa-location-dot" style="color: #00a693;"></i> الرياض - المملكة العربية السعودية</li>
        </ul>
    </div>

    <div class="footer-column">
        <h5>روابط هامة</h5>
        <ul>
           <li>ماذا نشتري</li>
           <li>آخر أعمالنا</li>
           <li>الأسئلة الشائعة</li>
        </ul>
    </div>
    
  </div>

  <div class="footer-bottom">
    <p>جميع الحقوق محفوظة © شركة الأسيوطي 2023</p>
  </div>
</footer>
