<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<app-header></app-header>
<div style="min-height: 90vh;">
    <router-outlet></router-outlet>
</div>
<app-footer></app-footer>

<a href="https://wa.me/966541634603" target="_blank" class="fixed-phone">
  <i class="fa fa-phone"></i> (054) 1634603
</a>


<a href="https://wa.me/966541634603" target="_blank" class="fixed-whatsapp">
  <span class="whatsapp-text">WhatsApp us</span>
  <div class="whatsapp-icon-wrapper">
    <i class="fa-brands fa-square-whatsapp" style="color: #25d366;"></i>
  </div>
</a>


