<body>
  <div class="hero-container" [style.backgroundImage]="'url(assets/images/buy3.png)'">
      <div class="overlay">
        <h6 class="text text-right green">الأسيوطي لشراء العفش المستعمل</h6>
        <h1 class="text text-left white">ماذا نشتري</h1>
      </div>
  </div>


  <div class="third-container">

    <div class="container-fluid">

      <div class="cards-container row justify-content-center mt-4 mb-4 text-center">

        <div class="col-12 col-md-6 p-3">
          <div class="card-custom animate">

            <h4 class="text-dark-blue">الأجهزة الكهربائية</h4>
            <p class="text-muted">نشتري الأجهزة الكهربائية بأفضل الأسعار</p>
            <img src="assets/images/device.jpg" alt="" class="custom-img" width="30px">
            <span class="phone-btn2"><i style="font-size: 20px;" class="fa-solid fa-phone"></i>(053) 1634603</span>
          </div>
        </div>

        <div class="col-12 col-md-6 p-3">
          <div class="card-custom">

            <h4 class="text-dark-blue">معدات المطاعم</h4>
            <p class="text-muted">نشتري فى الأسيوطي معدات المطاعم بأفضل الأسعار</p>
            <img src="assets/images/card1.webp" alt="" class="custom-img" width="30px">
            <span class="phone-btn2"><i style="font-size: 20px;" class="fa-solid fa-phone"></i>(053) 1634603</span>
          </div>
        </div>

        
        <div class="col-12 col-md-6 p-3">
          <div class="card-custom">

            <h4 class="text-dark-blue">غرف نوم</h4>
            <p class="text-muted">نشتري غرف النوم بأسعار مناسبة</p>
            <img src="assets/images/noum.jpg" alt="غرف نوم" class="custom-img" width="30px">
            <span class="phone-btn2"><i style="font-size: 20px;" class="fa-solid fa-phone"></i>(053) 1634603</span>
          </div>
        </div>

        <div class="col-12 col-md-6 p-3">
          <div class="card-custom">

            <h4 class="text-dark-blue">مطابخ</h4>
            <p class="text-muted">نشتري في الأسيوطي المطابخ المستعملة بأفضل الأسعار</p>
            <img src="assets/images/mtab5.jpg" alt="غرف نوم" class="custom-img" width="30px">
            <span class="phone-btn2"><i style="font-size: 20px;" class="fa-solid fa-phone"></i>(053) 1634603</span>
          </div>
        </div>

        
        <div class="col-12 col-md-6 p-3">
          <div class="card-custom">

            <h4 class="text-dark-blue">كراسي</h4>
            <p class="text-muted">شراء الكراسي المستعملة بالسعر المناسب</p>
            <img src="assets/images/crassi.jpg" alt="غرف نوم" class="custom-img" width="30px">
            <span class="phone-btn2"><i style="font-size: 20px;" class="fa-solid fa-phone"></i>(053) 1634603</span>
          </div>
        </div>

        <div class="col-12 col-md-6 p-3">
          <div class="card-custom">

            <h4 class="text-dark-blue">مجالس</h4>
            <p class="text-muted">شراء المجالس المستعملة بالأسيوطي بأفضل الأسعار</p>
            <img src="assets/images/mgals.jpg" alt="غرف نوم" class="custom-img" width="30px">
            <span class="phone-btn2"><i style="font-size: 20px;" class="fa-solid fa-phone"></i>(053) 1634603</span>
          </div>
        </div>
      
      </div>
    </div>
    
  </div>


  <div class="second-container" [style.backgroundImage]="'url(assets/images/dividder.jpg)'">
        <div class="text-content">
        <div class="line-one">
            <a href="https://wa.me/201234567890" target="_blank" class="whatsapp-link">
                <i class="fa-brands fa-whatsapp" style="font-weight: 900;"></i><i class="fa-solid fa-phone me-5"></i> اتصل علي رقم 0541634603
            </a>
        </div>
        <div class="line-two" style="font-weight: 900;">
          وبدل أثاثك القديم
        </div>
      </div>
  </div>






</body>