<body>
  <div class="hero-container" [style.backgroundImage]="'url(assets/images/home.png)'">
    <div class="overlay">
      <h6 class="text text-right green">أهلا بكم فى الموقع الرسمي لشركة</h6>
      <h1 class="text text-left white">الأسيوطي لشراء الأثاث</h1>
      <h1 class="text text-left white">المستعمل بالرياض</h1>
      <p class="text text-bottom white call-now">إتصل بنا الآن</p>

      <a class="phone-btn text text-bottom phone-animate" href="tel:(054) 1634603">
        <span class="phone-icon"><i style="font-size: 20px;" class="fa-solid fa-phone"></i></span>
        <span class="phone-number">(054) 1634603</span>
      </a>
    </div>
  </div>

  <div class="second-container" [style.backgroundImage]="'url(assets/images/dividder.jpg)'">
    <div class="text-content">
        <div class="line-one">
          <a href="https://wa.me/201234567890" target="_blank" class="whatsapp-link">
            <i class="fa-brands fa-whatsapp" style="font-weight: 900;"></i><i class="fa-solid fa-phone me-5"></i> اتصل علي رقم 0541634603
          </a>
        </div>
        <div class="line-two" style="font-weight: 900;">
          وبدل أثاثك القديم
        </div>
      </div>
  </div>

  <div class="third-container">
    <h4 class="whatBuy">ماذا نشتري</h4>

    <div class="container-fluid">

      <div class="cards-container row justify-content-center mt-4 mb-4 text-center">

        <div class="col-12 col-md-6 p-3">
          <div class="card-custom animate">

            <h4 class="text-dark-blue">الأجهزة الكهربائية</h4>
            <p class="text-muted">نشتري الأجهزة الكهربائية بأفضل الأسعار</p>
            <img src="assets/images/device.jpg" alt="" class="custom-img" width="30px">
            <span class="phone-btn2"><i style="font-size: 20px;" class="fa-solid fa-phone"></i>(053) 1634603</span>
          </div>
        </div>

        <div class="col-12 col-md-6 p-3">
          <div class="card-custom">

            <h4 class="text-dark-blue">معدات المطاعم</h4>
            <p class="text-muted">نشتري فى الأسيوطي معدات المطاعم بأفضل الأسعار</p>
            <img src="assets/images/card1.webp" alt="" class="custom-img" width="30px">
            <span class="phone-btn2"><i style="font-size: 20px;" class="fa-solid fa-phone"></i>(053) 1634603</span>
          </div>
        </div>

        
        <div class="col-12 col-md-6 p-3">
          <div class="card-custom">

            <h4 class="text-dark-blue">غرف نوم</h4>
            <p class="text-muted">نشتري غرف النوم بأسعار مناسبة</p>
            <img src="assets/images/noum.jpg" alt="غرف نوم" class="custom-img" width="30px">
            <span class="phone-btn2"><i style="font-size: 20px;" class="fa-solid fa-phone"></i>(053) 1634603</span>
          </div>
        </div>

        <div class="col-12 col-md-6 p-3">
          <div class="card-custom">

            <h4 class="text-dark-blue">مطابخ</h4>
            <p class="text-muted">نشتري في الأسيوطي المطابخ المستعملة بأفضل الأسعار</p>
            <img src="assets/images/mtab5.jpg" alt="غرف نوم" class="custom-img" width="30px">
            <span class="phone-btn2"><i style="font-size: 20px;" class="fa-solid fa-phone"></i>(053) 1634603</span>
          </div>
        </div>

        
        <div class="col-12 col-md-6 p-3">
          <div class="card-custom">

            <h4 class="text-dark-blue">كراسي</h4>
            <p class="text-muted">شراء الكراسي المستعملة بالسعر المناسب</p>
            <img src="assets/images/crassi.jpg" alt="غرف نوم" class="custom-img" width="30px">
            <span class="phone-btn2"><i style="font-size: 20px;" class="fa-solid fa-phone"></i>(053) 1634603</span>
          </div>
        </div>

        <div class="col-12 col-md-6 p-3">
          <div class="card-custom">

            <h4 class="text-dark-blue">مجالس</h4>
            <p class="text-muted">شراء المجالس المستعملة بالأسيوطي بأفضل الأسعار</p>
            <img src="assets/images/mgals.jpg" alt="غرف نوم" class="custom-img" width="30px">
            <span class="phone-btn2"><i style="font-size: 20px;" class="fa-solid fa-phone"></i>(053) 1634603</span>
          </div>
        </div>
      
      </div>
    </div>
    
  </div>



  <div class="second-container clear-start mt-5" [style.backgroundImage]="'url(assets/images/dividder.jpg)'">
    <div class="text-content">
      <div class="line-one">
        <a href="https://wa.me/201234567890" target="_blank" class="whatsapp-link">
          <i class="fa-brands fa-whatsapp" style="font-weight: 900;"></i><i class="fa-solid fa-phone me-5"></i> اتصل علي رقم 0541634603
        </a>
      </div>
      <div class="line-two" style="font-weight: 900;">
        وبدل أثاثك القديم
      </div>
    </div>
  </div>
  
  <h4 class="whatBuy w-75 m-auto mt-5 mb-3 contactUs">من أعمالنا في شراء العفش المستعمل بأحسن سعر</h4>
  

  <div class="container-fluid">

    <div class="row justify-content-center">

      <div class="col-12 col-sm-6 col-md-4 mb-4">
        <div class="card h-100 shadow-sm card-up" style="border-radius: 20px;">
          <img src="assets/images/work1.jpg" class="card-img-top" alt="..." height="300" style="object-fit: cover; object-position: center; border-top-left-radius: 20px; border-top-right-radius: 20px;">
          <div class="card-body">
            <h5 class="card-title text-center m-4 text-muted">الأسيوطي – خبراء شراء الأثاث المستعمل في الرياض</h5>
            <p class="card-text text-center m-4 text-muted">هل لديك أثاث مستعمل وتفكر في بيعه بسهولة وبسعر جيد؟ شركة الأسيوطي توفر لك تجربة مريحة ومضمونة لبيع أثاثك المستعمل داخل الرياض. نحن نشتري كافة</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mb-4">
        <div class="card h-100 shadow-sm card-up" style="border-radius: 20px;">
          <img src="assets/images/work3.jpg" class="card-img-top" alt="..." height="300" style="object-fit: cover; object-position: center; border-top-left-radius: 20px; border-top-right-radius: 20px;">
          <div class="card-body">
            <h5 class="card-title text-center m-4 text-muted">الأسيوطي – خبراء شراء الأثاث المستعمل في الرياض</h5>
            <p class="card-text text-center m-4 text-muted">هل لديك أثاث مستعمل وتفكر في بيعه بسهولة وبسعر جيد؟ شركة الأسيوطي توفر لك تجربة مريحة ومضمونة لبيع أثاثك المستعمل داخل الرياض. نحن نشتري كافة</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mb-4">
        <div class="card h-100 shadow-sm card-up" style="border-radius: 20px;">
          <img src="assets/images/work2.jpg" class="card-img-top" alt="..." height="300" style="object-fit: cover; object-position: center; border-top-left-radius: 20px; border-top-right-radius: 20px;">
          <div class="card-body">
            <h5 class="card-title text-center m-4 text-muted">الأسيوطي – خبراء شراء الأثاث المستعمل في الرياض</h5>
            <p class="card-text text-center m-4 text-muted">هل لديك أثاث مستعمل وتفكر في بيعه بسهولة وبسعر جيد؟ شركة الأسيوطي توفر لك تجربة مريحة ومضمونة لبيع أثاثك المستعمل داخل الرياض. نحن نشتري كافة</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mb-4">
        <div class="card h-100 shadow-sm card-up" style="border-radius: 20px;">
          <img src="assets/images/card.jpg" class="card-img-top" alt="..." height="300" style="object-fit: cover; object-position: center; border-top-left-radius: 20px; border-top-right-radius: 20px;">
          <div class="card-body">
            <h5 class="card-title text-center m-4 text-muted">الأسيوطي – خبراء شراء الأثاث المستعمل في الرياض</h5>
            <p class="card-text text-center m-4 text-muted">هل لديك أثاث مستعمل وتفكر في بيعه بسهولة وبسعر جيد؟ شركة الأسيوطي توفر لك تجربة مريحة ومضمونة لبيع أثاثك المستعمل داخل الرياض. نحن نشتري كافة</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mb-4">
        <div class="card h-100 shadow-sm card-up" style="border-radius: 20px;">
          <img src="assets/images/work5.jpg" class="card-img-top" alt="..." height="300" style="object-fit: cover; object-position: center; border-top-left-radius: 20px; border-top-right-radius: 20px;">
          <div class="card-body">
            <h5 class="card-title text-center m-4 text-muted m-4 text-muted">الأسيوطي – خبراء شراء الأثاث المستعمل في الرياض</h5>
            <p class="card-text text-center m-4 text-muted">هل لديك أثاث مستعمل وتفكر في بيعه بسهولة وبسعر جيد؟ شركة الأسيوطي توفر لك تجربة مريحة ومضمونة لبيع أثاثك المستعمل داخل الرياض. نحن نشتري كافة</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mb-4">
        <div class="card h-100 shadow-sm card-up" style="border-radius: 20px;">
          <img src="assets/images/work6.jpg" class="card-img-top" alt="..." height="300" style="object-fit: cover; object-position: center; border-top-left-radius: 20px; border-top-right-radius: 20px;">
          <div class="card-body">
            <h5 class="card-title text-center m-4 text-muted">الأسيوطي – خبراء شراء الأثاث المستعمل في الرياض</h5>
            <p class="card-text text-center m-4 text-muted">هل لديك أثاث مستعمل وتفكر في بيعه بسهولة وبسعر جيد؟ شركة الأسيوطي توفر لك تجربة مريحة ومضمونة لبيع أثاثك المستعمل داخل الرياض. نحن نشتري كافة</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mb-4">
        <div class="card h-100 shadow-sm card-up" style="border-radius: 20px;">
          <img src="assets/images/work7.jpg" class="card-img-top" alt="..." height="300" style="object-fit: cover; object-position: center; border-top-left-radius: 20px; border-top-right-radius: 20px;">
          <div class="card-body">
            <h5 class="card-title text-center m-4 text-muted">الأسيوطي – خبراء شراء الأثاث المستعمل في الرياض</h5>
            <p class="card-text text-center m-4 text-muted">هل لديك أثاث مستعمل وتفكر في بيعه بسهولة وبسعر جيد؟ شركة الأسيوطي توفر لك تجربة مريحة ومضمونة لبيع أثاثك المستعمل داخل الرياض. نحن نشتري كافة</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mb-4">
        <div class="card h-100 shadow-sm card-up" style="border-radius: 20px;">
          <img src="assets/images/work8.jpg" class="card-img-top" alt="..." height="300" style="object-fit: cover; object-position: center; border-top-left-radius: 20px; border-top-right-radius: 20px;">
          <div class="card-body">
            <h5 class="card-title text-center m-4 text-muted">الأسيوطي – خبراء شراء الأثاث المستعمل في الرياض</h5>
            <p class="card-text text-center m-4 text-muted">هل لديك أثاث مستعمل وتفكر في بيعه بسهولة وبسعر جيد؟ شركة الأسيوطي توفر لك تجربة مريحة ومضمونة لبيع أثاثك المستعمل داخل الرياض. نحن نشتري كافة</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mb-4">
        <div class="card h-100 shadow-sm card-up" style="border-radius: 20px;">
          <img src="assets/images/work9.jpg" class="card-img-top" alt="..." height="300" style="object-fit: cover; object-position: center; border-top-left-radius: 20px; border-top-right-radius: 20px;">
          <div class="card-body">
            <h5 class="card-title text-center m-4 text-muted">الأسيوطي – خبراء شراء الأثاث المستعمل في الرياض</h5>
            <p class="card-text text-center text-muted m-4">هل لديك أثاث مستعمل وتفكر في بيعه بسهولة وبسعر جيد؟ شركة الأسيوطي توفر لك تجربة مريحة ومضمونة لبيع أثاثك المستعمل داخل الرياض. نحن نشتري كافة</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="d-flex justify-content-center w-100 mt-4 mb-5">
    <a href="#" class="btn btn-more">المزيد من الأعمال<i class="fa-solid fa-circle-right m-2"></i></a>
  </div>


  <div class="forth-container">
    <div class="title text-center">
      <h4 class="text-dark-blue">كيف يتم شراء العفش المستعمل</h4>
      <h4 class="text-dark-blue">في الرياض؟</h4>
    </div>

    <div class="small-cards-container d-flex justify-content-center align-items-center gap-3 flex-wrap">
    
      <div class="small-card text-center p-4 m-4 card-zoom-in">
        <img src="assets/images/n4try.png" width="100" height="100" class="mb-2 d-block mx-auto m-4" alt="">
        <h4 class="text-dark-blue m-3">نشتري</h4>
        <p class="text-muted" style="font-size: 13px; font-weight: 500;">إن كنت تريد أن تستخدم نص لوريم إيبسوم ما، عليك أن تتحقق أولاً</p>
      </div>

    
      <i class="fa-solid fa-circle-left fa-3x" style="color: #1a3440;"></i>


      <div class="small-card text-center p-4 m-4 card-zoom-in">
        <img src="assets/images/nqym.png" width="100" height="100" class="mb-2 d-block mx-auto m-4" alt="">
        <h4 class="text-dark-blue m-3">نقيم</h4>
        <p class="text-muted" style="font-size: 13px; font-weight: 500;">إن كنت تريد أن تستخدم نص لوريم إيبسوم ما، عليك أن تتحقق أولاً</p>
      </div>


      <i class="fa-solid fa-circle-left fa-3x" style="color: #1a3440;"></i>


      <div class="small-card text-center p-4 m-4 card-zoom-in">
        <img src="assets/images/n3ayn.png" width="100" height="100" class="mb-2 d-block mx-auto m-4" alt="">
        <h4 class="text-dark-blue m-3">نعاين</h4>
        <p class="text-muted" style="font-size: 13px; font-weight: 500;">إن كنت تريد أن تستخدم نص لوريم إيبسوم ما، عليك أن تتحقق أولاً</p>
      </div>
    </div>
   

  </div>


  <div class="oval-container">
    <h3 class="text-dark-blue m-3">لماذا نحن</h3>
    <p class="mint-green mb-5">“خلافاَ للإعتقاد السائد فإن لوريم إيبسوم ليس نصاَ عشوائياً، بل إن له جذور في الأدب اللاتيني الكلاسيكي منذ العام 45 قبل الميلاد، مما يجعله أكثر</p>

    <div class="oval-box card-up">
      <img class="oval-image-right" src="assets/images/section5-01.jpg" alt="">
      <h3 class="mint-green-oval oval-text-right">نشتري كل شيء</h3>
    </div>

    <div class="oval-box card-up">
      <h3 class="mint-green-oval oval-text-left">الشراء شامل النقل والفك</h3>
      <img class="oval-image-left" src="assets/images/section5-02.jpg" alt="">
    </div>


    <div class="oval-box card-up">
      <img class="oval-image-right" src="assets/images/section5-03.jpg" alt="">
      <h3 class="mint-green-oval oval-text-right">الشراء بأفضل الأسعار</h3>
    </div>

    <div class="oval-box card-up">
      <h3 class="mint-green-oval oval-text-left">خبرة سنين</h3>
      <img class="oval-image-left" src="assets/images/section5-04.jpg" alt="">
    </div>


    <div class="oval-box card-up">
      <img class="oval-image-right" src="assets/images/section5-05.jpg" alt="">
      <h3 class="mint-green-oval oval-text-right">عربات مجهزة</h3>
    </div>

    <div class="oval-box card-up mb-4">
      <h3 class="mint-green-oval oval-text-left">فريق عمل مدرب</h3>
      <img class="oval-image-left" src="assets/images/section5-06.jpg" alt="">
    </div>

  </div>




  
  <div class="second-container clear-start mt-5" [style.backgroundImage]="'url(assets/images/dividder.jpg)'">
    <div class="text-content">
      <div class="line-one">
        <a href="https://wa.me/201234567890" target="_blank" class="whatsapp-link">
          <i class="fa-brands fa-whatsapp" style="font-weight: 900;"></i><i class="fa-solid fa-phone me-5"></i> اتصل علي رقم 0541634603
        </a>
      </div>
      <div class="line-two" style="font-weight: 900;">
        وبدل أثاثك القديم
      </div>
    </div>
  </div>
  
  <h4 class="whatBuy w-75 m-auto mt-5 mb-0 contactUs">تواصل معنا</h4>

   
  <div class="second-container clear-start mt-2 mb-5 forth" [style.backgroundImage]="'url(assets/images/8.jpg)'">
    <div class="text-content">
      <div class="line-one text-dark-blue" style="font-weight: 900;"> تواصل معنا وبدل عفشك القديم بعفش جديد</div>
      <div class="line-two text-dark-blue" style="font-weight: 900;">وبع عفشك بأفضل الأسعار</div>
        <a href="https://wa.me/201234567890" target="_blank" class="whatsapp-link2 d-inline-flex justify-content-end align-items-center gap-2 w-100 mt-3">
          <i class="fa-brands fa-whatsapp p-2" style="background-color: rgba(3, 55, 127, 0.458); border-radius: 50%;"></i>    
          <span class="phone-btn3">
            <i class="fa-solid fa-phone p-2" style="font-size: 20px;"></i>
            (053) 1634603
          </span>
        </a>
    </div>
  </div>


</body>


