.hero-container {
  position: relative;
  width: 100%;
  height: 74vh;
  overflow: hidden;
  background-image: url('../../../../assets/images/home.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 0 0;
  animation: growFromCenter .3s ease-out forwards;
}

@keyframes growFromCenter {
  0% {
    background-size: 0 0;
  }
  100% {
    background-size: 100% 100%;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  text-align: center;
}

.text {
  opacity: 0;
  animation: fadeIn 0.3s ease-out forwards;
}

.text-right {
  transform: translateX(150%);
  animation: slideInRight 0.6s ease-out forwards;
  animation-delay: 0.5s;
}

.text-left {
  transform: translateX(-150%);
  animation: slideInLeft 0.6s ease-out forwards;
  animation-delay: 0.7s;
}


.call-now {
  transform: translateY(100%);
  animation: slideInUp 0.6s ease-out forwards;
  animation-delay: 0.9s;
}

.phone-animate {
  transform: translateY(100%);
  animation: slideInUp 0.6s ease-out forwards;
  animation-delay: 1.2s;
}

.green {
  color: #00a693;
  font-size: 20px;
}

.white {
  color: #ffffff;
}

@keyframes slideInRight {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInLeft {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInUp {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


.phone-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 30px;
  border: 3px solid #fff;
  border-radius: 50px;
  background-color: transparent; 
  color: white;
  font-weight: bolder;
  text-decoration: none;
  font-size: 20px;
 
}

.phone-icon {
  font-size: 18px;
}

.phone-number {
  direction: ltr;
}

@media (max-width: 991.98px) {
  .hero-container {
    width: 100%;
    height: 47vh; 
    
  }
  .text-left {
    font-size: 18px;
  }
  .text-right, .text-bottom{
    font-size: 10px;
  }
  .phone-btn {
    padding: 2px 30px;
  }
  

}


/*  */
.second-container {
  
  background-image: url('../../../../assets/images/dividder.jpg');
  background-size: contain;
  background-position: center;
  height: 330px;
  width: 74%;
  position: relative;
  z-index: 0;
  margin: auto;
  margin-top: 2%;
  border-radius: 15px;
}

.text-content {
  position: absolute;
  top: 120px;
  right: 20px;
  color: white;
  text-align: right;
  font-size: 36px;
}

.whatsapp-link {
  color: #ffffff; 
  text-decoration: none;
  font-weight: bold;
}

.whatsapp-link i {
  margin-left: 18px; 
  font-size: 36px;

}

@media (max-width: 991.98px) {
  .second-container {
    width: 99%;
    height: 150px; 
    
  }
  .text-content {
    top: 40px;
  }

}




/*  */
.third-container {
  width: 74%;
  position: relative;
  margin: auto;
  margin-top: 4%;
  
}

.whatBuy{
  margin: auto;
  background-color: #dad9d9;
  align-content: center;
  border-radius: 10px;
  height: 50px;
  display: flex;
  justify-content: center; 
  align-items: center;    
  color: rgb(3, 4, 49);
  padding: 4px;
}

@media (max-width: 991.98px) {
  .text-content {
    font-size: 16px; 
    
  }
  .text-content i{
    font-size: 16px; 
    
  }
  .third-container {
    width: 99%;
  }
}


/*  */

.clear-start {
  clear: both;
  display: block;
  margin-top: 30px; 
}



.phone-btn2 {
  display: flex;
  width: 210px;
  align-items: center;
  gap: 10px;
  padding: 2px 12px;
  border: 3px solid #dad9d9;
  border-radius: 40px;
  background-color: #dad9d9; 
  color: rgb(1, 12, 56);
  font-weight: 400;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  margin: auto;
  margin-top: 8%;
  margin-bottom: 0;
}

.card-custom {
  background-color: #f8f8f8;
  padding: 30px;
  border-radius: 15px;
  height: 100%;
  width: 100%;
  align-items: center;
  text-align: center;
  margin: auto;
}
@media (max-width: 991.98px) {
  .card-custom {
    width: 85%;
    transform: translateX(-30px);
  }
 
}
.custom-img {
  width: 300px; 
  height: auto;
}

.text-dark-blue {
  color: #012f5e; 
}



.card-custom {
  opacity: 0;
  transform: translateX(-160px);
  transition: all 0.6s ease-out;
}

.card-custom.visible {
  opacity: 1;
  transform: translateX(0);
}


.card-up {
  transform: translateY(100px); 
  opacity: 0;
  transition: transform 0.6s ease-out, opacity 0.6s ease-out;
}

.card-up.visible {
  transform: translateY(0); 
  opacity: 1;
}

/*  */

.btn-more{
  background-color: #1a3440;
  color: #fff;
  padding: 10px 25px;
  border-radius: 13px;  
  font-size: 14px;

}


/*  */

.small-card {
  background-color: #fff;
  border-radius: 14px;
  width: 250px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


.forth-container{
  width: 80%;
  margin: auto;
  background-color: #f8f9fa;
  border-radius: 15px;
  padding: 25px;
}

@media (max-width: 991.98px) {
  .forth-container {
    width: 99%;   
  }
  .small-card{
    width: 99%;
    
  }
  .forth-container i{
    transform: rotate(-90deg);
  }
}



.card-zoom-in {
  transform: scale(0);
  opacity: 0;
  transition: transform 0.6s ease-out, opacity 0.6s ease-out;
}

.card-zoom-in.visible {
  transform: scale(1);
  opacity: 1;
}


.whatsapp-link2 {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 15px; 
  font-size: 30px;
  
}
.phone-btn3 {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 6px 12px;
  border-radius: 40px;
  background-color: rgba(3, 55, 127, 0.458);
  color: #fff;
  font-weight: 400;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  margin: 0;
}

.forth{
  background-image: url('../../../../assets/images/8.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 330px;
  width: 78%;
  position: relative;
  z-index: 0;
  margin: auto;
  margin-top: 2%;
  border-radius: 15px;
}

@media (max-width: 991.98px) {
  .forth {
    width: 100%;
    height: 230px; 
    
  }
  .phone-btn3 {
    padding: 0px 12px;
    font-weight: 900;
  }
  .contactUs{
    width: 99% !important;
  }

}





/*  */
.mint-green {
  color: rgb(20, 150, 129);
  font-size: 15px;
  font-weight: 400;
}
.mint-green-oval {
  color: rgb(20, 150, 129);
}

 .oval-container {
  width: 87%;
  margin: auto;
  margin-top: 9%;
  background-color: #fff;
  border: 3px solid rgb(16, 167, 142);
  border-radius: 15px;
  padding: 25px;
  text-align: center;
}

.oval-box {
  display: flex;
  align-items: center;
  justify-content: center;

}

.oval-image-right {
  width: 330px;
  height: 340px;
  background-size: cover;
  background-position: center;
  transform: translateX(-220px);
  margin-right: 0 !important; 
}
.oval-image-left {
  width: 330px;
  height: 340px;
  background-size: cover;
  background-position: center;
  transform: translateX(220px); 
  
}
.oval-text-left {
  transform: translateX(135px); 
}
.oval-text-right {
  transform: translateX(-135px); 
}


@media (max-width: 991.98px) {
 .oval-container {
    width: 99%;
  }
  .oval-image-right {
    width: 220px;
    height: 220px;
    transform: translateX(-35px);
  }
  .oval-image-left {
    width: 220px;
    height: 220px;
    transform: translateX(35px); 
  }
  .oval-text-left {
    transform: translateX(-35px); 
  }
  .oval-text-right {
    transform: translateX(35px); 
  }
  .mint-green-oval{
    font-size: 16px;
  }
  .mint-green{
    font-size: 10px;
  }
}